<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataDrivenBasics">
	<listeners>
		<listener class-name="listeners.CustomListener"></listener>
	</listeners>
	<test name="LoginTest">
		<classes>
			<class name="testcases.BankManagerLoginTest"></class>
		</classes>
	</test> <!-- Test -->

	<test name="Add Customer Test">
		<classes>
			<class name="testcases.AddCustomerTest"></class>
		</classes>
	</test> <!-- Test -->
<test name="Open Account Test">
		<classes>
			<class name="testcases.OpenAccountTest"></class>
		</classes>
	</test> <!-- Test -->




</suite> <!-- Suite -->
